<html>
  <head>
    <title>Personal Library</title>
    <meta name="description" content="A personal library api in glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        Personal Library
      </h1>
    </header>
    <hr style="margin: 30px">
    <div id="ui">
      
      <form id="newBookForm" class="border" action="/api/books" method="post">
        <input type="text" id="bookTitleToAdd" name="title" placeholder="New Book Title" style="width: 295px">
        <input type="submit" value="Submit New Book!">
      </form>
      
      <div id="display"></div>
      <div id="bookDetail" class="border">
        <p id="detailTitle">Select a book to see it's details and comments</p>
        <ol id="detailComments"></ol>
      </div>
      <button id="deleteAllBooks">Delete all books...</button>
    </div>
    <hr style="margin: 50px">
    
  </body>
  <script src="/public/client.js"></script>
</html>
